<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><meta name=theme-color content=black><title>vue-with-webstorm</title><style>html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
      }</style><link href=/static/css/app.c149900b4f3fb473d89c9a3edc44e7b6.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script><script type=text/javascript src=/static/js/vendor.5698ae34d8a6bb33eafe.js></script><script type=text/javascript src=/static/js/app.cbf93b1d68b56fbdf203.js></script></body></html>