{% load static %}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Uğur böceğiyle olan hikayenin devamı...">
    <meta name="author" content="Mayk Jony">

    <title>simalyes</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css">
    <link rel="stylesheet" href="{% static 'css/teklif.css' %}">

  </head>

  <body class="text-center" >
        {% comment %} MAIN PAGE {% endcomment %}
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">

            </header>

            <main role="main" class="inner cover" id='kahve'>
              <h1 class="cover-heading" id='title'>Kahve?</h1>
              <img id="orta-image" src="{% static 'images/coffee1.png' %}" alt="" class="py-4">
              <p class="lead" id='offer'>Devamını kahve içerken dinlemek istiyorum.</p>
            </main>
      
            <footer class="mastfoot mt-auto mb-4 d-flex justify-content-around">
                <button class="soru" id="evet" type="button" data-toggle="modal" data-target="#exampleModalCenter">Evet</button>
                <button class="soru" id="reddet" type="button">Hayır</button>
            </footer>
        </div>

        <!-- Modal EVET -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header justify-content-around">
                <h5 class="modal-title">Harbi mi?</h5>
                </button>
              </div>
              <div class="modal-body">Bunu, Aykıl'a nasıl haber vermek istersin?</div>
              <div class="modal-footer justify-content-around">
                <a type="button" class="btn btn-secondary" href="tel:+90-530-242-99-67">Ara</a>
                ya da
                <a type="button" class="btn btn-secondary" href="https://instagram.com/maykjony/">Mesaj At</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal HAK BITIMI -->
        <div class="modal fade" id="hak-bitimi" tabindex="-1" role="dialog" aria-labelledby="hak-bitimi" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header justify-content-around">
                <h5 class="modal-title">Hayır hakların bitti</h5>
              </div>
              <div class="modal-body">Daha fazla hayır hakkı almak için</div>
              <div class="modal-footer justify-content-around">
                <a type="button" class="btn btn-secondary" href="tel:+90-530-242-99-67">Ara</a>
                ya da
                <a type="button" class="btn btn-secondary" href="https://instagram.com/maykjony/">Mesaj At</a>
              </div>
              <div class="modal-body">Seçenekleri tekrar gözden geçir.</div>
              <div class="modal-footer justify-content-around">
                <a type="button" class="btn btn-secondary" href="{% url 'teklif' %}">Evet</a>
              </div>
            </div>
          </div>
        </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <script src="{% static 'js/teklif.js' %}"></script>
  </body>
</html>
