{% load static %}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Uğur böceğiyle falanca hikayemiz">
    <meta name="author" content="Mayk Jony">
    <meta name="theme-color" content="#1c1c1c">

    <title>simalyes</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

    <!-- Custom styles for this template -->

  </head>

  <body class="">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <h1 class="cover-heading">Uğur böceğiyle falanca hikayemiz</h1>
      </header> 

      <main role="main" class="inner cover">
        <img src="{% static 'images/ugur-bocegi.jpg' %}" alt="" class="img-fluid mx-auto d-block rounded my-2 mb-4">
        <p>Biri var dedim. Uğur böceği duymazdan geldi, başkalarının sıkıntıları onun pek umurunda değildi anlaşılan. Ben yine de devam ettim. Orada duruyor dedim. Orada, diğer her şeyden ayrı bir yerde. Nedenini anlayamıyorum. Bir insanın özel bir yere sahip olması için bir takım sebepler olmalı. Tabii ki var, oldukça geçerli sebepler var hatta. Sonuçta hayatımdan bir parça diyorum. Tamam ama başkaları da oldu hayatımda. O halde başka bir sebebi olmalı. Böcek, kanatlarını açıp geriniyor. Gidecek diye endişelenip susuyorum. Karşı komşum Aysel hanım ve annesi geçiyor kaldırımdan, beni görüp selam veriyorlar, karşılık veriyorum. Aysel hanım dizi oyuncusu, kedilere pek düşkün. Sabah akşam ya mahalledeki kedileri besler, yada kendi kedisine tasma takıp dışarıda gezdirir. Annesi ise tatlı bir kadın, arada sırada kapımızı çalıp bize yemek getirir.</p>
        <p>Bir süre sessizlikten sonra efkarlı bir ses tonuyla lafa giriyor. “Benim de sevdalar geçti başımdan; şöhretmiş, kadınmış, para hırsıymış… Zamanla anlıyor insan dünyayı”. Gözlerimi kısıp ona bir bakış atıyorum. Tamam Orhan Veli'yi ben de severim ama sırası mı şimdi diyorum. Ne var şurada iki mısra söylesek fena mı olur diye homurdanıyor. Gözlerimi iyice kısıyorum. Tamam, tamam anlatıyorum diyip başlıyor.</p>
        <p>Söylediğine göre Antalya'da bir bahçede görmüş ilk kez onu. “Hoş bir böcekti, kırmızıları kırmızı, siyahları siyahtı. Gidip hemen flört etmeye başladım.” Tabii sizin orada olaylar hızlı gelişiyor diye geçiriyorum içimden. “Karşılık verdi o da, beraber güzel günler geçirdik. Sonra ben başka şehre o başka şehre gitti.” Susuyor. Hikayesi bitmiş gibi bir tavır takınıyor. Eee sonra noldu diye soruyorum merakla. Bir şey olmadı diyor. Be adam! Banane senin eski böcek sevgililerinden, konu o degil; konu, neden bu kız ayrı bir yerde, neden hayatıma hiç etkisi olmadığı halde orada, bana bunu söyle diye çıkışıyorum. Ne bileyim, sen anlatmaya başlayınca ben de eskileri hatırladım birden lafa girdim diyor. Iyi halt ettin! Benimki de iş, kalkmış böcekle dertleşmeye çalışıyorum.</p>
        <p>Güneş iyice çekilmeye başladı, dışarı çıkıp biraz gezeyim, sonra da parka giderim.
            </p>
        <p>Tam kalkacağım sandalyeden 'Dulcinea' diyorum heyecanla. Dulcinea, Alonso için neyse o da benim için öyle. En azından şimdilik geçerli bir açıklama diyip çıkıyorum evden.</p>
        <a href="{% url 'teklif' %}">devamı...</a>
      </main>


    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
  </body>
</html>
